"*":
  editor:
    showIndentGuide: true
    fontFamily: "Source Code Pro"
    invisibles: {}
    softWrapAtPreferredLineLength: true
    fontSize: 13
  core:
    ignoredNames: [
      ".bundle"
      ".git"
      "log"
      "repositories"
      "tmp"
      "vendor"
    ]
    hideGitIgnoredFiles: true
    projectHome: "/Users/daniel/Projects"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  welcome:
    showOnStartup: false
  "release-notes":
    viewedVersion: "0.89.0"
  "language-babel": {}
  linter:
    lintOnFly: false
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
